# FastAPI Settings
MYLAR_PORT=8090
SECRET_KEY=PLACEHOLDER_SECRET_KEY
LOG_LEVEL=INFO

# PostgreSQL Configuration
POSTGRES_USER=mylar
POSTGRES_PASSWORD=mylarpass
POSTGRES_DB=mylar_new
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# DB Connection URL (Postgres with asyncpg driver)
DATABASE_URL=postgresql+asyncpg://mylar:mylarpass@postgres:5432/mylar_new

# Redis URL (used as Celery Broker & Backend)
REDIS_URL=redis://redis:6379/0

# ComicVine API Key
COMICVINE_API_KEY=
COMICVINE_API_URL=https://comicvine.gamespot.com/api/
CVAPI_RATE=2.0
CV_VERIFY=true
CACHE_DIR=cache
CREATE_FOLDERS=true
COMIC_COVER_LOCAL=true
COVER_FOLDER_LOCAL=true
